//colors
$purple: #591E9C;
$purple-normal: #82269e;
$purple-dark: #701f88;
$purple-light: #9c4fb4;

$yellow-normal: #eeca06;
$yellow-dark: #d2b202;
$yellow-test: #ffaa00;
$yellow-light: #b79a00;
//Cor de Fundo
$black-fundo: #131414;

// Neutral-colors
$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #f7f2fa;
$white-dark: #edeaef;
$white-light: #fefbff;

// Gray Scale
$gray-1: #454446;
$gray-2: #555456;
$gray-3: #666566;
$gray-4: #767576;
$gray-5: #868587;
$gray-6: #969597;
$gray-7: #a6a6a7;

//form
$card-fundo: #222;
$sombra-card: 0px 10px 40px #111;
$purple: #7f00b2;
$sombra-purple: 0px 10px 40px -12px #8d22bb;
$cor-label: #f0ffffde;
$cor-boxtext: #333;
$sombra-boxtext: 0px 10px 20px #00000056;

//
//Box Shadows

$box-shadow-button: 0px 0px 37.8px #EAE111, 0px 0px 21.6px #EAE111, 0px 0px 12.6px #EAE111, 0px 0px 6.3px #EAE111, 0px 0px 1.8px #EAE111, 0px 0px 0.9px #EAE111;