footer {
    border-top: linear-gradient(220.94deg, #a950c4 14.43%, #82269e 85.28%) 1px;
    background: linear-gradient(180deg, rgba(12, 12, 12, 0.93) -4%, #0C0C0C 21.46%, rgba(12, 12, 12, 0.93) 47.46%, rgba(12, 12, 12, 0.93) 71.29%, rgba(12, 12, 12, 0.93) 100%);
    ;
}
  
  .footer-flex-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
    p {
      color: $white-dark;
      max-width: 350px;
    }
  }
  
  .footer-flex-2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
    max-height: 72px;
  
    flex: 1 1 320px;
  
    svg {
      max-width: 36px;
    }
  }