.bg-icon-check{
      &::after {
      background-image: url("../img/check-circle.svg");
      background-size: cover;
      transition: 0.5s ease;
      cursor: pointer;
      filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
      width: 30px;
      height: 30px;

      top: 4px;
      left: 8px;
    }

    &:hover{
        &::after{
            transform: scale(1.05);
        }
    }
}

.bg-icon-people {
    &::after {
      background-image: url("../svg/icon-people.svg");
      background-size: cover;
      transition: 0.5s ease;
      cursor: pointer;
      width: 30px;
      height: 30px;
      top: 2px;
      left: 8px;
    }
    &:hover {
      &::after {
        transform: scale(1.05);
      }
    }
  }

  .bg-icon-chat {
    &::after {
      background-image: url("../svg/icon-chat.svg");
      background-size: cover;
      transition: 0.5s ease;
      cursor: pointer;
      width: 30px;
      height: 30px;
      top: 2px;
      left: 8px;
    }
    &:hover {
      &::after {
        transform: scale(1.05);
      }
    }
  }

  .bg-icon-amount-cards {
    &::after {
      background-image: url("../svg/icon-amount-cards.svg");
      background-size: cover;
      transition: 0.5s ease;
      cursor: pointer;
      width: 30px;
      height: 30px;
      top: 2px;
      left: 8px;
    }
    &:hover {
      &::after {
        transform: scale(1.05);
      }
    }
  }

  .bg-icon-email {
    &::after {
      background-image: url("../svg/icon-email.svg");
      background-size: cover;
      transition: 0.5s ease;
      cursor: pointer;
      width: 29px;
      height: 23px;
      top: 8px;
      left: 8px;
    }
    &:hover {
      &::after {
        transform: scale(1.05);
      }
    }
  }

  .bg-icon-phone {
    &::after {
      background-image: url("../svg/icon-phone.svg");
      background-size: cover;
      transition: 0.5s ease;
      cursor: pointer;
      width: 28px;
      height: 30px;
      top: 2px;
      left: 8px;
    }
    &:hover {
      &::after {
        transform: scale(1.05);
      }
    }
  }