.box{
    max-width: $container-xl;
    margin: auto;
    margin-top: 16px;

    padding: 0px 24px; 
}

.container-swiper{
    max-width: $container-xl;
    margin: 0 auto;
    padding: 96px 24px; 

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.swiper-container{
    width: 100%;
    height: 100%;
    overflow: hidden;

    position: relative;
}

.swiper-slide{
    position: relative;
    max-width: 300px;
    height: 370px;
    padding: 24px 36px;
    background: rgb(255, 255, 255, 0.05);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);

}

.button-next{
    position: absolute;
    right: 32px;
    top: 22px;

    width: 36px;
    height: 204px;

    cursor: pointer;
    background-image: url('../../svg/icon-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.button-prev{
    position: absolute;
    right: 88px;
    top: 24px;

    width: 36px;
    height: 204px;

    cursor: pointer;
    background-image: url('../../svg/icon-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
}

.content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;

    &:hover{
        opacity: 1;
        transform: translateY(-20px);
    }
}
.logo-projeto{
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    animation-name: floating;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;

    @include responsive(s){
        width: 300px;
        height: 300px;
    }
}

.card-icon{
    width: 40px;
    height: 40px;  

   
    margin-left: 30px;
    margin-top: 2px;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 12px); }
    100%   { transform: translate(0, -0px); }   
}

.imgBx{
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0,0,0,0.25);
}

.img-Devs{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.txt-devs{
    letter-spacing: 2px;
    text-align: center;
}

.devs-func{
    font-size: 18px;
    font-weight: 300;
    text-transform: initial;
}

.sci{
    position: absolute;
    bottom: 50px;
    display: flex;
}

.icon{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));

    /*
    &:hover{
        transform: translateY(0px);
        opacity: 1;
    }
    */

}